.grid-layout{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;

}
.margin-left{
    margin-left: 60px;
}
@media screen and (max-width: 567px) {
    .grid-layout{
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto; 
    }
}